[
  {
    "url": "https://areena.yle.fi/1-4172550",
    "destdir": "/mnt/terastation/Yle/SarjanNimi"
  },
  {
    "url": "https://areena.yle.fi/1-64771970",
    "destdir": "/mnt/terastation/Yle/ToinenSarja"
  }
]
